In [4]:
import pandas as pd
import glob
import os

In [5]:
os.getcwd()

'c:\\Users\\Antwon\\Desktop\\DataHomework\\tableau-challenge\\tableau-challenge'

In [6]:
files = os.listdir()
files

['.git', '.gitattributes', 'Images', 'README.md', 'Resources', 'tableau.ipynb']

In [7]:
df = pd.concat([pd.read_csv(f) for f in glob.glob("Resources/*.csv")], ignore_index=True)

C:\Users\Antwon\AppData\Local\Temp/ipykernel_2680/502986716.py:1: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  df = pd.concat([pd.read_csv(f) for f in glob.glob("Resources/*.csv")], ignore_index=True)
C:\Users\Antwon\AppData\Local\Temp/ipykernel_2680/502986716.py:1: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  df = pd.concat([pd.read_csv(f) for f in glob.glob("Resources/*.csv")], ignore_index=True)

In [10]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E12103A91226099A,docked_bike,2021-05-06 17:25:01,2021-05-06 17:45:25,Broadway & W 60 St,6948.11,1 Ave & E 78 St,7020.09,40.769155,-73.981918,40.771404,-73.953517,member
1,26A3DC47FE0EA3A3,docked_bike,2021-05-13 12:48:08,2021-05-13 13:07:37,Broadway & W 25 St,6173.08,E 2 St & Avenue B,5515.02,40.742868,-73.989186,40.722174,-73.983688,member
2,A99F2E1D627B088F,docked_bike,2021-05-16 08:30:13,2021-05-16 08:45:47,46 Ave & 5 St,6286.02,34th Ave & Vernon Blvd,6873.01,40.747310,-73.954510,40.765354,-73.939863,member
3,43E79A45997B7390,docked_bike,2021-05-01 08:38:14,2021-05-01 08:54:27,46 Ave & 5 St,6286.02,34th Ave & Vernon Blvd,6873.01,40.747310,-73.954510,40.765354,-73.939863,member
4,8B3CC649F4F58816,docked_bike,2021-05-09 08:12:31,2021-05-09 08:27:05,46 Ave & 5 St,6286.02,34th Ave & Vernon Blvd,6873.01,40.747310,-73.954510,40.765354,-73.939863,member

In [14]:
#dropping all null values from the dataframe
df.dropna(inplace=True)

In [16]:
# get number of rows in each column 
df.count()

ride_id               18337825
rideable_type         18337825
started_at            18337825
ended_at              18337825
start_station_name    18337825
start_station_id      18337825
end_station_name      18337825
end_station_id        18337825
start_lat             18337825
start_lng             18337825
end_lat               18337825
end_lng               18337825
member_casual         18337825
dtype: int64

In [18]:
#save concatenated dataframe to csv
df.to_csv('Resources/citi-bike.csv', index=False)